[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CMMs"]
	path = CMMs
	url = https://github.com/cran/CMMs
[submodule "GIC"]
	path = GIC
	url = https://github.com/cran/GIC
